@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@700&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --azul: #003049;
    --vermelho: #D62828;
    --amarelo-queimado: #F77F00;
    --amarelo: #FCBF49;
    --branco: #f5f5f5;
    --preto: #000000;
    --fonte-texto: "Truculenta", sans-serif;
    --fonte-titulo: "Ojuju", sans-serif;
}


.cabecalho{
    background-color: var(--azul);
    color: var(--amarelo-queimado);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
}

.cabecalho-imagem{
    width: 5%;
    border-radius: 100%;
    margin: 1em;
}

.cabecalho-lista-link{
    text-decoration: none;
    color: var(--amarelo-queimado);
    margin-right: 1.5em;
    font-size: 1.5em;
}

.escola{
    background-color: var(--branco);
    color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    font-family: var(--fonte-texto);
}

.escola-texto-titulo{
    padding: 24px 0;
    font-family: var(--fonte-titulo);
}

.escola-imagem{
    width: 25%;
}

.estudante-div-fotos{
    width: 80%;
    border-radius: 5%;
}

.estudante-div-icone{
    width: 30px;
}
.estudante-div{
    text-align: center;
}

.estudante{
    background: linear-gradient(#5b5656,#003049);
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
    font-family: var(--fonte-titulo);
    color: var(--preto);
}
.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.estudante-div{
    text-align:center ;
}
 .estudante-div-nome{
    margin: 8px 0;
    font-family: var(--fonte-texto);
    font-size: 1.3em;
 }
 .rodape{
    background-color: var(--azul);
    text-align: center;
 }
 .rodape-logo{
    width: 5%;
    border-radius: 100%;
    margin: 1em;
    padding: 12px 0;
 }